<div class="jumbotron">
<h1>Welcome people</h1>
<p>Sexy is about to happen</p>
<%= link_to 'About Us', home_about_path, class:'btn btn-default' %>
<%= link_to 'Home', root_path, class:'btn btn-primary' %>

<%= @pins.each do |pin| %>
  <tr>
    <td><%= pin.description %></td>
    <td><%= link_to 'Show', pin %></td>
    <% if pin.user == current_user %>
      <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
      <td><%= link_to 'Destroy', pin, method:delete. data: {confirm: 'Are you sure?' }%></td>
    <% end %>
  </tr>
<% end %>
</div>
